<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">{{name}} </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <router-link tag="li"
                     :to="listLink"
                     active-class="active"
                     class="nav-item">
          <a class="nav-link" href="#">User List <span class="sr-only">(current)</span></a>
        </router-link>
        <router-link to="/user/add"
                     tag="li"
                     active-class="active"
                     exact
                     class="nav-item">
          <a class="nav-link" href="#">Add User <span class="sr-only">(current)</span></a>
        </router-link>
        <li v-if="showEditLink"
            class="nav-item active">
          <span class="nav-link">Edit User </span>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavMenu',
  data () {
    return {
      name: 'Admin Panel',
      limit: this.$route.query.limit
    }
  },
  computed: {
    showEditLink () {
      return this.$route.params.id
    },
    listLink () {
      return this.$route.name === 'list'
        ? this.$route.fullPath
        : {path: '/list', query: { page: '1', limit: this.limit || 10 }}
    }
  },
  watch: {
    '$route' (to, from) {
      if (from.query.limit) {
        this.limit = from.query.limit// last limit by url '/list'
      }
    }
  }
}
</script>
