<template>
  <div class="form-group row">
    <label :for="fieldId"
    class="col-sm-2 col-form-label">{{field.label}}</label>
    <div class="col-sm-10">
      <input :id="fieldId"
      :value="record[fieldName]"
      :placeholder="field.label"
      type="text"
      class="form-control" @input="record[fieldName] = $event.target.value"/>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'VFieldSimple',
    props: {
      fieldName: {
        type: String,
        required: true
      },
      field: {
        type: Object,
        required: true
      },
      record: Object
    },
    computed: {
      fieldId: function () {
        return 'input' + this.fieldName
      }
    }
  }
</script>
