<template>
  <form>
    <div class="form-group row">User {{id}}</div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Registered</label>
      <div class="col-sm-10">
        <v-datepicker
          v-model="person.registered"
          format="dd.MM.yyyy"
          input-class="border-0"
          language="ru"
          name="registered"
          class="form-control"></v-datepicker>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <img :src="person.picture || '/src/user-icon.png'" alt="..." class="img-thumbnail">
      </div>
      <div class="col-sm-10">
        <div class="form-control">{{person.picture || '&nbsp;'}}</div>
        <input type="file"
               ref="picture"
               class="d-none"
               @change="sendPicture"/>
        <a class="btn btn-info mt-3"
           role="button"
           @click="addPicture"
        >Add image</a>
      </div>
    </div>
    <v-field-simple v-for="(field, key) in fields"
                    v-if="field.simple"
                    :key="key"
                    :field-name="key"
                    :field="field"
                    :record="person"></v-field-simple>
    <div class="form-group row">
      <textarea class="form-control"
                v-model="person.about"></textarea>
      <froala class="form-control" :tag="'textarea'" :config="config" v-model="model"></froala>
      <!--<v-rich-editor v-model="person.about"></v-rich-editor>-->
    </div>
    <div class="form-group row">
      <a class="btn btn-success"
         role="button"
         @click="saveUser">Submit</a>
    </div>
    <div class="form-group row">
      <pre  class="form-control">
        {{person}}
      </pre>
    </div>
  </form>
</template>

<script>
  import axios from 'axios'
  import Datepicker from 'vuejs-datepicker'
//  import VRichEditor from '@/components/VRichEditor'
  import VFieldSimple from '@/components/VFieldSimple'

  export default {
    name: 'VFormEdit',
    props: {
      id: {type: String, default: ''}
    },
    components: {
      'v-field-simple': VFieldSimple,
      'v-datepicker': Datepicker
//      'v-rich-editor': () => import('@/components/VRichEditor')
//      'v-rich-editor': VRichEditor
    },
    data () {
      return {
        url: {
          persons: 'http://localhost:3000/persons/',
          fields: 'http://localhost:3000/fields/'
        },
        person: {},
        select: [],
        fields: {},
        config: {
          events: {
            'froalaEditor.initialized': function () {
              console.log('initialized')
            }
          }
        },
        model: 'Edit Your Content Here!'
      }
    },
    methods: {
      loadData () {
        if (this.id) {
          axios.get(this.url.persons + this.id)
            .then(response => {
              this.person = response.data
            })
        } else {
          this.person = {}
        }
      },
      saveUser () {
        let id = this.id
        axios[id ? 'patch' : 'post'](this.url.persons + this.id, this.person)
          .then(response => {
            if (!id) {
              this.$router.push({path: '/user/' + response.data.id})
            }
          })
      },
      addPicture () {
        this.$refs.picture.click()
      },
      sendPicture (event) {
        if (event.target.value) {
          const url = 'https://api.imgur.com/3/image'
          const config = {
            headers: {
              'Authorization': 'Client-ID e83a9717ba6c680'
            }
          }
          const data = new FormData()
          data.append('image', event.target.files[0])

          axios.post(url, data, config)
            .then(response => {
              this.person.picture = response.data.data.link
              this.saveUser()
              this.$refs.picture.value = ''
            })
        }
      }
    },
    mounted () {
      axios.get(this.url.fields)
        .then(response => {
          this.fields = response.data
          this.loadData()
        })
    },
    beforeRouteUpdate () {
      this.loadData()
    }
  }
</script>
