<template>
  <div>
    <v-grid-settings v-model="transLimit" ></v-grid-settings>
    <br/>
    <table class="table table-hover table-sm table-striped">
      <thead is="v-grid-header"
             :columns="columns"></thead>
      <tbody>
      <tr is="v-grid-item"
          v-for="(record,index) in records"
          :key="record.id"
          :index="index"
          :item="record"
          :columns="columns"
          @remove="remove"></tr>
      </tbody>
    </table>
    <v-grid-pager
      :total="total"
      :limit="limit"></v-grid-pager>
  </div>
</template>
<script>
  import axios from 'axios'
  import VGridHeader from '@/components/VGridHeader'
  import VGridItem from '@/components/VGridItem'
  import VGridPager from '@/components/VGridPager'
  import VGridSettings from '@/components/VGridSettings'

  export default {
    name: 'VGrid',
    components: {
      'v-grid-settings': VGridSettings,
      'v-grid-header': VGridHeader,
      'v-grid-item': VGridItem,
      'v-grid-pager': VGridPager
    },
    props: {
      page: {type: String, default: '1'},
      limit: {type: String, default: '10'}
    },
    data () {
      return {
        url: {
          persons: 'http://localhost:3000/persons/',
          select: 'http://localhost:3000/select/'
        },
        records: [],
        columns: {},
        total: 1,
        transLimit: this.limit
      }
    },
    watch: {
      $route () {
        this.loadData()
      },
      limit () {
        console.log('')
        this.transLimit = this.limit
      },
      transLimit () {
        let lastAllowedPage = Math.ceil(this.total / this.transLimit)
        let page = this.page > lastAllowedPage ? lastAllowedPage : this.page
        this.$router.push({path: '/list', query: {page: (page || 1) + '', limit: this.transLimit}})
      }
    },
    methods: {
      remove: function (id) {
        axios.delete(this.url.persons + id)
          .then(response => { this.loadData() })
      },
      loadData () {
        axios.get(this.url.persons + '?_page=' + this.page + '&_limit=' + this.transLimit)
          .then(response => {
            this.total = +response.headers['x-total-count']
            this.records = response.data
            axios.get(this.url.select)
              .then(response => {
                this.columns = response.data
              })
          })
      }
    },
    mounted () {
      this.loadData()
    }
  }
</script>
