<template>
  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <router-link :to="getLink('prev')"
                     tag="li"
                     :class="page > 1? 'page-item' : 'page-item disabled'"
                     active-class="">
          <a class="page-link" href="#">Previous</a>
        </router-link>
        <router-link
          v-for="number in range"
          :to="getLink(number)"
          :key="number"
          tag="li"
          :class="getClass(number)"
          active-class="active"
          exact>
            <a class="page-link" href="#" >{{number}}</a>
        </router-link>
        <router-link :to="getLink('next')"
                     tag="li"
                     :class="page < range.length? 'page-item' : 'page-item disabled'"
                     active-class="">
          <a class="page-link" href="#">Next</a>
        </router-link>
      </ul>
    </nav>
  </div>
</template>
<script>
  export default {
    name: 'VGriPager',
    props: {
      total: Number,
      limit: String
    },
    data () {
      return {
        start: 0
      }
    },
    computed: {
      page () {
        return this.$route.query.page || '1'
      },
      range () {
        let range = []
        for (let i = 1; i <= Math.ceil(this.total / +this.limit); i++) {
          range.push(i + '')
        }
        return range
      }
    },
    methods: {
      getLink (page) {
        if (page === 'prev') page = this.page - 1 || 1
        if (page === 'next') page = this.page >= this.range.length ? this.range.length : +this.page + 1
        return {path: '/list', query: {page: page, limit: this.limit}}
      },
      getClass (number) {
        return !this.$route.query.page && number === '1' ? 'page-item active' : 'page-item'
      }
    }
  }
</script>
