<template>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th v-for="column in columns" :key="column.name" scope="col">{{column.text}}</th>
      <th scope="col">
        &nbsp;
        <!--<button class="close text-success" type="button" aria-label="Close"><span
          aria-hidden="true">&plus;</span></button>-->
      </th>
    </tr>
  </thead>
</template>
<script>
  export default {
    name: 'VGridHeader',
    props: {
      columns: {
        required: true
      }
    }
  }
</script>
