<template>
  <tr @click="select">
    <th scope="row">
      <router-link :to="`/user/${item.id}`">{{item.id}}</router-link>
    </th>
    <td v-for="field in columns">{{item[field.name]}}</td>
    <td>
      <button class="close text-danger" type="button" aria-label="Close" @click="remove"><span aria-hidden="true">&times;</span>
      </button>
    </td>
  </tr>
</template>
<script>
  export default {
    name: 'VGridItem',
    props: {
      index: {
        type: Number,
        required: true
      },
      item: {
        type: Object,
        validator: function (value) {
          return value.hasOwnProperty('id')
        }
      },
      columns: {
        required: true
      }
    },
    methods: {
      remove: function () {
        this.$emit('remove', this.item.id)
      },
      select: function () {
        this.$emit('select', this.item.id)
      }
    }
  }
</script>
