<template>
  <div class="row">
    <select :value="value"
            @input="valueEmit"
            class="custom-select">
      <option v-for="item in values" :value="item">{{item}}</option>
    </select>
  </div>
</template>
<script>
  export default {
    name: 'VGridSettings',
    props: {
      value: String
    },
    data () {
      return {
        values: [5, 10, 15]
      }
    },
    methods: {
      valueEmit (e) {
        this.$emit('input', e.target.value)
      }
    }
  }
</script>
