<template>
  <div id='VRichEditor' class="form-control">
    <froala :tag="'textarea'" :config="config" v-model="model"></froala>
  </div>
</template>
<script>
  export default {
    name: 'VRichEditor',
    props: {
      value1: {
        type: String,
        required: true,
        default: ''
      }
    },
    data () {
      return {
        config: {
          events: {
            'froalaEditor.initialized': function () {
              console.log('initialized')
            }
          }
        },
        model: 'Edit Your Content Here!'
      }
    },
    watch: {
      value () {
      }
    },
    mounted () {
    },
    beforeDestroy () {
    }
  }
</script>
