<template>
  <div id="app" class="container">
    <nav-menu></nav-menu>
    <br/>
    <router-view></router-view>
  </div>
</template>

<script>
import NavMenu from '@/components/NavMenu'

export default {
  name: 'app',
  components: {
    'nav-menu': NavMenu
  }
}
</script>

<style>
#app {
}
</style>
